.chefCon{
    background-color: rgb(255, 255, 255, 0.7);
    padding: 100px;
    padding-top: 10px;
    max-width: 70%;
    margin: 2% auto;
}
.chefFront h1{
   font-size: 60px;
   padding: 10px;
   font-family: 'Kreon', serif;
   border: 3px solid rgb(192, 137, 148, 0.5);
}

#chefInt h3{
    font-size: 40px;
    padding: 50px;
    width: 100%;
    height: auto;
}

#chefName h3{
    margin: 0px;
    font-size: 2.5vw;
    height: auto;
    position: absolute;
    font-family: 'Kreon', serif;
    color: white;
    background-color: rgb(233, 86, 115,0.3);
    border-radius: 10px;
}

#chefName{
    text-align: center;
    width: 100%;
    height: auto;
}

#chefName img{
   border-style: solid;
   border-color: rgb(226, 28, 68);
   min-width: 30%;
   width: 100%;
   height: auto;
   border-radius: 10px;
}

.chefLeft{
    padding: 10px;
    margin: 10px;
    width: 15%;
    font-size: 20px;
}

.chefRight{
    padding: 10px;
    margin: 10px;
    width: 40%;
}

.chefDesc{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(233, 86, 115,0.3);
    border-radius: 10px;
}
