#map{
    width: 100%;
    height: 600px;
    border-style: solid;
    border-color: crimson;
}

.contactCont{
    background-color: rgb(255, 255, 255, 0.7);
    padding: 100px;
    padding-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.contactHead{
    margin-bottom: 20px;
}
.contactLeft{
    margin-right: 250px;
}
.contactRight{
    text-align: center;
}

#flexInf{
    justify-content: space-between;
    display: flex;
}
#info input[type="text"]{
    text-align: center;
    color: crimson;
    border: none;
    width: 75%;
    border-bottom: 1px solid crimson;
    background-color: rgba(0,0,0,0);
    outline: none;
    
}
#comment input[type="submit"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}
#comment input[type="text"]{
    height: 100px;
    width: 200px;
    text-align: center;
    border-color: crimson;
    box-shadow: 0 5px 25px rgba(0, 0,0, .3);
    color:crimson;
    outline: none;
}
.reser{
    text-align: center;
    background-color: rgb(230, 94, 121,0.3);
    border-radius: 10px;
    height: 200px;
}
.reservation{
    justify-content:space-around;
    display: flex;
}
.reservation select{
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
    
}

.reser input[type="submit"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}
.reser h1{
    letter-spacing: 2px;
    padding: 20px;
}
.reser input[type ="date"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;;
}
.reser input[type ="time"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;;
}

