/* STYLE FOR SHOWCASE */
#showCase{
   margin: 1%;
   overflow: hidden;
}

#display{
    padding: 2%;
    max-height: 500px;
}

.carousel-item img{
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: crimson;
}
.carousel-inner h1{
    position: absolute;
    padding: 10px;
    font-family: 'Kreon', serif;
    color: white;
    background-color: rgb(233, 86, 115,0.3);
}

/* STYLE FOR RESERVATION */
.reservation{
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 260px;
    margin-right: 260px;
    height: 230px;
}

.reservation select{
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
    
    
}
.reservation input[type="submit"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}
.reservation input[type="date"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}
.reservation input[type="time"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}
.reserveCont{
    justify-content: space-around;
    display: flex;
}

.rhead{
    letter-spacing: 2px;
    padding: 20px;
}



/* STYLE FOR OTHERS*/
.others{
    margin-left: 80px;
}

.choice{
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    float: left;
    width: 30%;
    padding:10px;
    margin: 10px;
}

.extras a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   text-transform: uppercase;
}


