/* STYLE FOR SHOWCASE */
#showCase{
   margin: 1%;
   overflow: hidden;
}

#display{
    padding: 2%;
    max-height: 500px;
}

.carousel-item img{
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: crimson;
}
.carousel-inner h1{
    position: absolute;
    padding: 10px;
    font-family: 'Kreon', serif;
    color: white;
    background-color: rgb(233, 86, 115,0.3);
    
}
.carousel-inner{
    width: 50%;
    height: 0%;
    padding-bottom: 30%;
}

/* STYLE FOR RESERVATION */
.reservation{
    margin: 2%;
    text-align: center;
}

.reservation .container{
    background-color: rgba(255, 255, 255, .5);
    overflow: hidden;
    width: 67%;
}

.reservation select{
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}

.reservation input[type="submit"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}

.reservation input[type="date"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}

.reservation input[type="time"]{
    background-color: rgb(226, 42, 79);
    color: white;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0,0, .5);
    -webkit-appearance: button;
    outline: none;
}


.rhead{
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
}

.rhead h2{
    margin: 0;
    padding: 0;
}

.reserveCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 10px;
    padding: 10px;
}
.sub{
    margin: 10px;
    padding: 10px; 
}

/* STYLE FOR OTHERS*/
.others{
    margin: 2%;
}

.others .container{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
}

.choice{
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding:10px;
    margin: 10px;
    width: 30%; 
}

.extras a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   letter-spacing: 2px;
   border-bottom: solid 5px transparent;
    transition: border-bottom-color .3s ease-in-out;
}

.extras a:hover{
    text-decoration: none;
    color: rgb(125, 81, 101);
    border-bottom: solid 5px rgb(125, 81, 101);
}
