/* STYLE FOR MAIN MENU */
.mainmenu{
    background: rgb(128,0,0,0.5);
    width: 1100px;
    height: 1200px;
    margin-right: 100px;
    margin-left: 200px;
}
h2{
    margin-top: 0%;
    font-family:'Berkshire Swash';
    font-size: 50px;
    color:cornsilk;
    text-align: center;
}
.meals{
    font: italic 1.2em "Fira Sans", serif;
    font-size: 40px;
    color:floralwhite;
    
}
img{
    width: 220px;
    height: 220px;
}
table{
    border-spacing: 20px;
    margin-right: 10px;
    margin-left: 50px;
}