/* OFFLINE FONTS */
@font-face{
    font-family: "Kreon";
    src: url('../fonts/Kreon/Kreon-VariableFont_wght.ttf');
}

@font-face{
    font-family: "Josefin Sans";
    src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-BoldItalic.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-Italic.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-Light.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-Thin.ttf');
    src: url('../fonts/Josefin_Sans/JosefinSans-ThinItalic.ttf');
}

@font-face{
    font-family: "Mali";
    src: url('../fonts/Mali/Mali-Bold.ttf');
    src: url('../fonts/Mali/Mali-BoldItalic.ttf');
    src: url('../fonts/Mali/Mali-ExtraLight.ttf');
    src: url('../fonts/Mali/Mali-ExtraLightItalic.ttf');
    src: url('../fonts/Mali/Mali-Italic.ttf');
    src: url('../fonts/Mali/Mali-Light.ttf');
    src: url('../fonts/Mali/Mali-LightItalic.ttf');
    src: url('../fonts/Mali/Mali-Medium.ttf');
    src: url('../fonts/Mali/Mali-MediumItalic.ttf');
    src: url('../fonts/Mali/Mali-Regular.ttf');
    src: url('../fonts/Mali/Mali-SemiBold.ttf');
    src: url('../fonts/Mali/Mali-SemiBoldItalic.ttf');
}

@font-face{
    font-family: "Yeon Sung";
    src: url('../fonts/Yeon_Sung/YeonSung-Regular.ttf');

}

@font-face{
    font-family: "Hirosh";
    src: url('../fonts/Hirosh/HIROSHT.TTF');
}

/* GLOBAL FONTS */
h2{
    font-family: 'Yeon Sung', cursive;
}

h3{
    font-family: 'Hirosh';
}

p{
    font-family: 'Kreon', sans-serif;
}

a{
    font-family: 'Josefin_Sans', sans-serif;
}

h4{
    font-family: 'Kreon', sans-serif;
}

input[type="text"]{
    font-family: 'Kreon', serif;
}

input[type="submit"]{
    font-family: 'Kreon', serif;
}

form{
    font-family: 'Kreon', serif;
}

option{
    font-family: 'Kreon', serif;
}

/* GLOBAL STYLE */
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*
#dark_overlay{
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
*/


.left{
    float: left;
}

.right{
    float: right;
}

/* STYLE FOR HEADER */
header{
    background-color: rgba(113, 42, 68, 0.7);
    width: 100%;
    margin: 0;
    padding: 0%;
    overflow: hidden;
}

header .left{
    margin: 5px;
    padding: 5px;
}

header .right{
    margin: 5px;
    padding: 5px;
}

header h3{
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
}

header ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

header li{
    display: inline;
    text-align: center;
    list-style: none;
    margin-left: 10px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 11px 14px;
    border-bottom: solid 5px transparent;
    transition: border-bottom-color .3s ease-in-out;
}

header a:hover{
    text-decoration: none;
    color: rgb(240, 163, 200);
    border-bottom: solid 5px rgb(240, 163, 200);
}

/* GLOBAL STYLE FOR FOOTER */
footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 20px 0 ;
    box-sizing: border-box;
    background-color: rgba(113, 42, 68, 0.7);
    color: white;

}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: none;
    color: rgb(240, 163, 200);
    border-bottom: solid 3px rgb(240, 163, 200);
}
#copyright{
    text-align: center;
    margin-top: 40px;
}
