/* OFFLINE FONTS */
@font-face{
    font-family: "Kreon";
    src: url('../fonts/Kreon/Kreon-VariableFont_wght.ttf');
}

@font-face{
    font-family: "Gochi Hand";
    src: url('../fonts/Gochi_Hand/GochiHand-Regular.ttf');
}

@font-face{
    font-family: "Concert One";
    src: url('../fonts/Concert_One/ConcertOne-Regular.ttf');
}

@font-face{
    font-family: "Lobster Two";
    src: url('../fonts/Lobster_Two/LobsterTwo-Bold.ttf');
    src: url('../fonts/Lobster_Two/LobsterTwo-BoldItalic.ttf');
    src: url('../fonts/Lobster_Two/LobsterTwo-Italic.ttf');
    src: url('../fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}

@font-face{
    font-family: "Anamatic SC";
    src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf');
    src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf');
    
}

/* GLOBAL FONTS */
h3{
    font-family: 'Kreon', serif;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* STYLE FOR HEADER */
header{
    background-color: #6B1E23;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    
}

header .left{
    margin: 0;
    padding: 0;
    min-height: inherit;
}

header .right{
    min-height: inherit;
    
}

header ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

header li{
    display: inline;
    text-align: center;
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

header a:hover{
    background-color: antiquewhite;
}

header h3{
    margin: 0;
    padding: 0;
}